# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log

# Instance folder
instance/
