Flask==2.2.2
Werkzeug==2.3.7  # Compatible with Flask 2.2.2
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.5.1
mysql-connector-python==8.0.25
Flask-Bootstrap==3.3.7.1  # Added for Flask-Bootstrap
Flask-Login==0.6.2  # Added for Flask-Login
psutil==5.9.5  # Added for psutil